//Home page
.container-iTake-home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

// Cabeçalho
.container-iTake-header {
  width: 100%;
  height: 60px;
  background-color: #2cb89c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

.container-iTake-header-informacoes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.container-iTake-header-informacoes-img {
  img {
    width: 100px;
    object-fit: contain;
  }
}

.container-iTake-header-informacoes-text {
  h3 {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
}

.container-iTake-header-logout {
  h3 {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
}

// Container dos pedidos
.container-iTake-pedidos {
  width: 100%;
  display: flex;
  min-height: calc(100% - 60px);
  padding: 15px;
  gap: 5px;
}
