.container-iTake-home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-iTake-header {
  width: 100%;
  height: 60px;
  background-color: #2cb89c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

.container-iTake-header-informacoes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.container-iTake-header-informacoes-img {
  img {
    width: 100px;
    object-fit: contain;
  }
}

.container-iTake-header-informacoes-text {
  h3 {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
}

.container-iTake-header-logout {
  h3 {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
}

.container-iTake-pedidos {
  width: 100%;
  display: flex;
}

.container-iTake-pedidos-card {
  width: 25%;
  background-color: coral;
  position: relative;
}

.container-iTake-pedidos-card-title-fixed {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  h2 {
    padding-inline: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffffee;
  }
}

.container-iTake-pedidos-card-maps {
  overflow: auto;
  height: 90vh;
  padding-inline: 10px;
  padding-block: 10px;
  padding-bottom: 50px;
  scrollbar-width: none; /* Largura da barra de rolagem (pode ser 'thin', 'auto' ou 'none') */
  scrollbar-color: rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.1); /* Cor da barra de rolagem */
}

.container-iTake-pedidos-card-maps-section {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

#color2 {
  background-color: #008cff;
}

#color3 {
  background-color: #00ff80;
}

#color4 {
  background-color: #a10051;
}
